{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
        <h1> Generating Image </h1><br>
        <h5><i>Please do not refresh page</i><h5><br><br>
        <img src="{% static 'assets/rolling.svg' %}" width="100px" height="auto">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        
    </div>
</div>
<script>
const request = new XMLHttpRequest();
const url = 'http://localhost:8000/transform/run/';
request.open('GET', url, true);
request.setRequestHeader('filename','{{ img.image.url }}');
request.onload = function() {
    window.location = 'http://localhost:8000/transform/preview?filename=' + '{{ img.image.url }}';
}
request.send();

</script>
{% endblock content %}