{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding:10px">
        <h3>Before</h3>
        <img src="{{ input }}" width="400px" height="auto" class="img-fluid">
        </div>
        <div class="col-md-6" style="padding:10px;">
        <h3>After</h3>
        <img src="{{ preview }}"width="400px" height="auto" class="img-fluid">
        <br><br>
        <button type="submit" class="btn btn-sucess"><a href="{{output}}">Download</a></button>
        <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

{% endblock content %}