{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding:10px">
        <h3>Input Image</h3>
        <img src="{{ input }}" width="400px" height="auto" class="img-fluid">
        </div>
        <div class="col-md-6" style="padding:10px;">
        <h3>Output Image</h3>
        <img src="{{ output }}"width="400px" height="auto" class="img-fluid">
        <br><br>
        <button type="submit" class="btn btn-primary"><a href="{{output}}">Download</a></button>
        <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

{% endblock content %}