{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <div class="jumbotron" >
            <h5 style="color:red;"><i>{{ error }}</i></h5>
            <form id="uploadform" method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Select Image</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="image"><br><br>
            <button type="submit" class="btn btn-primary ">Submit</button>    
            </form>
        </div>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}